language: ruby
rvm:
  - 2.7.2
  - 3.3.10

addons:
  postgresql: "11.22"

env:
  - REDMINE_VER=5.1-stable
  - REDMINE_VER=6.1-stable

install: "echo skip bundle install"

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres

script:
  - export TESTSPACE=`pwd`/testspace
  - export NAME_OF_PLUGIN=redmine_wiki_encryptor
  - export PATH_TO_PLUGIN=`pwd`
  - export PATH_TO_REDMINE=$TESTSPACE/redmine
  - mkdir $TESTSPACE
  - cp test/support/* $TESTSPACE/
  - bash -x ./travis.sh
